* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* PRIMARY */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* NEUTRAL */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  /* FONT SIZE OF THE DOCUMENT */
}
html {
    font-size: 16px;
}
body {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-image: url("../images/pattern-background-mobile.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 375px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-summary {
  width: 21.625rem;
  background-color: #fff;
  border-radius: 1.25em;
  overflow: hidden;
  font-size: 0.875rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.order-summary-hero {
  width: 100%;
}
.order-summary-body {
  padding: 1.75rem;
  text-align: center;
}
.order-summary-header {
  color: var(--dark-blue);
  font-size: 1.35rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.order-summary-caption {
  color: var(--desaturated-blue);
  margin-bottom: 1.25rem;
  line-height: 1.6;
}
.order-summary-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very-pale-blue);
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.8125rem;
}
.order-summary-planAgreement,
.order-summary-change {
  flex: 1 1 0;
}
.order-summary-plan svg {
  margin-right: 0.66rem;
}
.order-summary-plan svg {
  text-align: left;
}
.order-summary-planAgreement {
  text-align: center;
  color: var(--desaturated-blue);
}
.order-summary-change {
  text-align: right;
}
.order-summary-planAgreement h2 {
  font-weight: 900;
  font-size: 0.875rem;
  color: var(--dark-blue);
}
.order-summary-change {
  transition: background-color 0.23s ease;
}
.order-summary-change:hover {
  color: hsla(245, 75%, 52%, 0.75);
}
.order-summary-payment {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  border-radius: 0.75em;
  transition: background-color 0.23s ease;
  margin-bottom: 1.3333rem;
  background-color: var(--bright-blue);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
}
.order-summary-payment:hover {
  background-color: hsla(245, 75%, 52%, 0.75);
}
.order-summary-cancel {
  font-weight: 700;
  color: var(--desaturated-blue);
  text-decoration: none;
}
.order-summary-cancel:hover {
  color: var(--dark-blue);
}
@media (min-width: 375px) {
    html {
        font-size: 125%;
    }
  body {
    background-image: url("../images/pattern-background-desktop.svg");
  }
  .container {
    max-width: 1440px;
  }
}
